$color_DarkCharcoal:#323232;
$color_CrownJetBlack : #1E1E1E;
$color_Vulcan: #333642;

$color_viewer_background : $color_DarkCharcoal;
$color_viewer_toolbar_background : $color_CrownJetBlack;
$color_viewer_toolbar_text : white;

$color_toolbox_background : $color_CrownJetBlack; 